player-chrome {
  box-sizing: border-box;

  position: relative;
  display: flex;
  width: 720px;
  height: 480px;
  background-color: #000;
  flex-direction: column-reverse;
}

player-chrome video,
player-chrome audio,
player-chrome .media-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #300;
}

player-control-bar {
  /* Need position to display above video for some reason */
  position: relative;
  box-sizing: border-box;
  display: flex;
  background-color: #330;
}

/* player-control-bar > * {
  padding: 10px;
  border: 1px solid #eee;

  background-color: #900;
  color: #777;
} */

player-progress-slider {
  flex-grow: 1;
}

player-chrome {
  --icon-color: #1e88e5;
}

player-play-button {
}
