/* Player Chrome variable defaults */
:root {
  --player-chrome-icon-color: #eee;
}

/* Method for avoiding flash of unstyled content (FOUC). Noting it here. */
my-custom-button:not(:defined) {
  height: 20px;
  width: 50px;
  opacity: 0;
}
