---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import * as CONFIG from '../../config';
import AstroLogo from './AstroLogo.astro';
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';
import Search from './Search';
import ThemeToggleButton from './ThemeToggleButton';

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props as Props;
const lang = getLanguageFromURL(currentPage);
---

<header>
  <SkipToContent />
  <nav class="nav-wrapper" title="Top Navigation">
    <div class="logo flex">
      <a href="/">
        <AstroLogo size={40} />
        <h1>media-chrome</h1>
      </a>
    </div>
    <div class="menu-toggle">
      <SidebarToggle client:idle />
    </div>
    <div class="menu">
      <a href="/en/get-started" aria-current={currentPage === '/en/get-started'}>Basics</a>
      <a href="/en/themes" aria-current={currentPage === '/en/themes'}>Themes</a>
      <a href="/en/showcase" aria-current={currentPage === '/en/showcase'}>Showcase</a>
      <a href="https://github.com/muxinc/media-chrome" target="_blank">GitHub</a>
    </div>
    <div class="search-item">
      <Search client:idle />
    </div>
    <ThemeToggleButton client:visible />
    {
      KNOWN_LANGUAGE_CODES.length > 1 && (
        <LanguageSelect lang={lang} client:idle />
      )
    }
  </nav>
</header>

<style>
  header {
    z-index: 11;
    height: var(--theme-navbar-height);
    width: 100%;
    background-color: var(--theme-navbar-bg);
    backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 1px solid var(--theme-divider);
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 1rem;
  }

  .logo {
    display: flex;
    align-self: stretch;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: hsla(var(--color-base-white), 100%, 1);
    z-index: -1;
  }

  .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    text-decoration: none;
    font-weight: 600;
    color: var(--theme-text);
  }

  .logo h1 {
    display: none;
    font: inherit;
    color: inherit;
    margin: 0;
    font-family: var(--font-mono);
  }

  .menu {
    display: flex;
    align-self: stretch;
    align-items: stretch;
  }

  .menu a {
    display: flex;
    display: none;
    font-size: 0.95em;
    text-decoration: none;
    padding: 1.75rem 1.75rem;
    color: var(--theme-text);
    border-right: 1px solid var(--theme-divider);
  }

  .menu :is(a:hover, a:focus) {
    background-color: var(--theme-accent);
    color: var(--theme-text-invert);
  }

  @media (min-width: 50em) {
    .nav-wrapper {
      padding: 0 2.5rem;
    }

    .logo {
      flex: 0 0 248px;
      z-index: 0;
      border-right: 1px solid var(--theme-divider);
    }

    .logo h1 {
      display: initial;
    }

    .menu-toggle {
      display: none;
    }

    .menu a {
      display: unset;
    }
  }

  /** Style Algolia */
  :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  }

  .search-item {
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-grow: 2;
    padding: 0 .75rem;
  }

  @media (min-width: 50em) {
    .search-item {
      max-width: none;
      padding: 0 1.75rem;
    }
  }
</style>

<style is:global>
  .search-item > * {
    flex-grow: 1;
  }
</style>
