---
const mediaElements = await Astro.glob('../pages/en/media-elements/*');
---

<ul>
  {mediaElements.map(mediaEl => (
    <li>
      <a href={`./media-elements/${mediaEl.frontmatter.tagName}`}>
        <code>&lt;{mediaEl.frontmatter.tagName}&gt;</code></a>
      {mediaEl.frontmatter.description}
    </li>
  ))}
</ul>
